@keyframes aura {
  from {
    box-shadow: gold 0px 0px 25git px;
    filter: brightness(110%);
  }
  to {
    box-shadow: gold 0px 0px 50px;
    filter: brightness(125%);
  }
}
.bouton button {
  height: 100px;
  width: 100px;
  border-radius: 20px;
  border: 3px solid #23272e;
  font-size: 20px;
  font-weight: 600;
  color: #23272e;
  cursor: pointer;
}
.bouton .boutonPunch {
  background-color: #d30026;
}
.bouton .boutonSuperPunch {
  background-color: gold;
  color: red;
  border: 3px solid gold;
  animation: aura 1s infinite alternate ease-in-out;
}
.bouton .boutonRestart {
  background-color: yellow;
}
