.pvMax {
  width: 50vw;
  height: 50px;
  background-color: #23272e;
  position: relative;
  margin-top: 50px;
  border: 2px #23272e solid;
}
.pvMax .pvActuel {
  height: 100%;
  background-color: yellow;
  transition: 200ms;
}
