.pvMax {
  width: 400px;
  height: 50px;
  background-color: #d30026;
  margin-top: 50px;
  border: 3px #23272e solid;
  border-radius: 25px;
  overflow: hidden;
}
.pvMax .pvActuel {
  height: 100%;
  background-color: yellow;
  transition: 200ms;
}
